<template lang="pug">
  <div class="home">
    button.btn.s-circle.p-fixed.scrollToBottom(@click="scrollToBottom" v-show="showScrollToBottom < 0.9")
      <em class="lni lni-angle-double-down"></em>
    <div class="columns col-gapless">
      <div class="column col-12">

          <Message v-for="(message,index) in messages" :key="index" :message="message"/>

      </div>
      .column.col-10.p-1
        input.d-block.form-input(placeholder="Input")
      .column.col-2
        button.btn.btn-primary.d-block.btn-block.mt-1
          <em class="lni lni-telegram-original"></em>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
function getMessages(){
  let faker = require('faker')
  return require('ramda').range(1,150).map(()=>{
    return {
      title: faker.name.title(),
      contents: faker.lorem.sentence()
    }
  })
}

import Message from '@/components/Message.vue'
export default {
  head: {
    title: {
      inner: "Home",
    },
  },
  name: "Home",
  data(){
    return {
      messages:[{
      title:"Billy",
      contents:"Hey amigo, alto guiso"
    },
    {
      title:"Amigo",
      contents:"Por $2? Alto guiso!"
    }]
    }
  },
  created(){
    this.messages= getMessages()
  },
  mounted(){
    $(window).on('scroll',this.updateOnScroll)
  },
  destroyed(){
    $(window).off('scroll',this.updateOnScroll)
  },
  components: {
    Message
  },
  computed:{
    showScrollToBottom(){
      return ($("html, body").scrollTop() / $(document).height()) 
    }
  },
  methods:{
    updateOnScroll(){
      this.$forceUpdate()
      console.log(($("html, body").scrollTop() / $(document).height()))
    },
    scrollToBottom(){
       $("html, body").animate({ scrollTop: $(document).height() }, 1000,()=>{
         //this.$forceUpdate()
       });
    }
  }
};
</script>
<style lang="scss" scoped>
input{
  width:100%;
}
.scrollToBottom{
  bottom:50px;
  right:15px;
}
</style>
