<template lang="pug">
.root(ref="root", :style="rootStyle")
  .columns.col-gapless(v-if="rootVisible")
    .colum.col-12
      p.title {{ message.title }}
    .column.col-12
      p.message {{ message.contents }}
</template>
<script>
import $ from "jquery";
function isScrolledIntoView(elem) {
  var docViewTop = $(window).scrollTop();
  var docViewBottom = docViewTop + $(window).height();

  var elemTop = $(elem).offset().top;
  var elemBottom = elemTop + $(elem).height();

  return elemBottom <= docViewBottom && elemTop >= docViewTop;
}

export default {
  props: {
    message: Object,
  },
  data() {
    return {
      computedHeight: -1,
    };
  },
  computed: {
    rootStyle() {
      return {
        height:
          this.computedHeight === -1 ? "initial" : `${this.computedHeight}px`,
      };
    },
    rootVisible() {
      return this.computedHeight === -1;
    },
  },
  methods: {
    onScroll() {
      this.$nextTick(() => {
        if (!isScrolledIntoView(this.$refs.root)) {
          this.computedHeight = $(this.$refs.root).height();
        } else {
          this.computedHeight = -1;
        }
      });
    },
  },
  mounted() {
    //$(window).on('scroll',this.onScroll);
  },
  destroyed() {
    $(window).off('scroll',this.onScroll);
  },
};
</script>
<style lang="scss" scoped>
.title {
  margin: 10px 0px;
  text-align: left;
  padding: 0px 5px;
  font-weight: bold;
}
.message {
  margin: 0px;
  text-align: left;
  padding: 0px 5px;
}
</style>