<template lang="pug">
        nav.p-fixed
            .columns
                .column.col-10
                    .brand.mt-1.p-1 OWNCHAT
                .column.col-2
                    button.btn(@click="clickMore")
                        <em class="lni lni-more-alt"></em>
</template>
<script>

export default {
    methods:{
        clickMore(){
            this.$emit('more')
        }
    }
}
</script>
<style lang="scss" scoped>
.lni-more-alt{
    transform:rotate(90deg);
}
button{
    border:0px;
}
.brand{
    text-align: left;
}
nav{
    width:calc(100vw);
    background-color: white;
    z-index: 2;
}
</style>