<template lang="pug">
  <div id="app">
    <div id="nav" v-if="false">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <Navbar @more="$refs.sidebar.toggle(true)"/>
    <Sidebar ref="sidebar"/>
    router-view.routerView
  </div>
</template>
<script>
import Sidebar from '@/components/Sidebar.vue'
import Navbar from '@/components/Navbar.vue'
import io from 'socket.io-client';
 
const socket = io('http://localhost:3000');
socket.on('connect', function(){
  console.log('connected')
});
socket.on('event', function(){});
socket.on('disconnect', function(){});
export default {
  components:{
    Sidebar,
    Navbar
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.routerView{
  top:30px;
  position: relative;
}
</style>
